@page
@model IndexModel
@{    
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to you in .Net 7 Hello World Projcet</h1>
    <p>Created by Rajib Mukhopadhyay</p>
    <hr />
    <div>Host operating system: @Model.OSVersion</div>
</div>
